In [1]:
import pandas as pd

# Concatenate two dataframes verticaly

In [24]:
job_info = {
    "dir_path": ["~/test1/", "~/test2/"], 
    "sh_file":  ["test1.sh", "test2.sh"], 
    "timeout":  ["00:11:00", "00:12:00"],
}
new_job_info = {
    "dir_path": ["~/test3/", "~/test4/"], 
    "sh_file":  ["test3.sh", "test4.sh"], 
    "timeout":  ["00:13:00", "00:14:00"],
}

In [25]:
df = pd.DataFrame(job_info)
df

   dir_path   sh_file   timeout
0  ~/test1/  test1.sh  00:11:00
1  ~/test2/  test2.sh  00:12:00

In [26]:
new_df = pd.DataFrame(new_job_info)
new_df

   dir_path   sh_file   timeout
0  ~/test3/  test3.sh  00:13:00
1  ~/test4/  test4.sh  00:14:00

In [27]:
pd.concat([df, new_df])

   dir_path   sh_file   timeout
0  ~/test1/  test1.sh  00:11:00
1  ~/test2/  test2.sh  00:12:00
0  ~/test3/  test3.sh  00:13:00
1  ~/test4/  test4.sh  00:14:00

In [28]:
pd.concat([df, new_df]).reset_index()

   index  dir_path   sh_file   timeout
0      0  ~/test1/  test1.sh  00:11:00
1      1  ~/test2/  test2.sh  00:12:00
2      0  ~/test3/  test3.sh  00:13:00
3      1  ~/test4/  test4.sh  00:14:00

In [29]:
pd.concat([df, new_df], ignore_index=True)

   dir_path   sh_file   timeout
0  ~/test1/  test1.sh  00:11:00
1  ~/test2/  test2.sh  00:12:00
2  ~/test3/  test3.sh  00:13:00
3  ~/test4/  test4.sh  00:14:00

In [37]:
df.append(new_df, ignore_index=True)
df

   dir_path   sh_file   timeout
0  ~/test1/  test1.sh  00:11:00
1  ~/test2/  test2.sh  00:12:00
2  ~/test3/  test3.sh  00:13:00
3  ~/test4/  test4.sh  00:14:00

In [46]:
new_single_info = { "dir_path": "~/test5/", "sh_file": "test5.sh", "timeout": "00:15:00" }

In [47]:
df = df.append(new_single_info, ignore_index=True)
df

   dir_path   sh_file   timeout
0  ~/test1/  test1.sh  00:11:00
1  ~/test2/  test2.sh  00:12:00
2  ~/test3/  test3.sh  00:13:00
3  ~/test4/  test4.sh  00:14:00
4  ~/test5/  ~/test5/  00:15:00
5  ~/test5/  test5.sh  00:15:00

In [48]:
df.loc[0]

dir_path    ~/test1/
sh_file     test1.sh
timeout     00:11:00
Name: 0, dtype: object